
body {
    font-family: 'Roboto', sans-serif;
    background-color: #bcd2e7;
}

h2 {
    font-weight: bold;
    color: #e0e3e6;
}

/* Sección Hero */
.hero {
    background-color: #82829e; /* Azul profesional */
    color: white;
    padding: 100px 0;
}

.hero h2 {
    font-size: 2.5em;
    font-weight: 700;
}

.hero p {
    font-size: 1.2em;
    margin-top: 10px;
}

/* Productos */
.producto .card {
    transition: transform 0.2s, box-shadow 0.2s;
}

.producto .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #131414;
}

.card-text {
    font-size: 1.1em;
    font-weight: 500;
    color: #555;
}

/* Footer */
footer {
    background-color: #dee3e8;
    color: rgb(53, 45, 45);
}
